@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@font-face {
    font-family: 'Ferry';
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    src: local('Ferry Black'), local('Ferry-Black'),
    url(/fonts/Ferry-Black.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Ferry-Black.woff) format('woff'),
    url(/fonts/Ferry-Black.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h1, h2 {
    font-family: 'Ferry', sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}